<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	   <meta charset="utf-8" />
	   <title>게시판 페이지</title>
	</head>
	<body>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(boardList)}" th:each="b : ${boardList}">
					<td th:text="${b.id}"></td>
					<td th:text="${b.title}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(bemberList)}">
					<td colspan="7">등록된 회원의 정보가 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>