<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	   <meta charset="utf-8" />
	   <title>로그인 페이지</title>
	</head>
	<body>
		<h1>로그인입니다.</h1>
		<form th:action="@{/user/login}" method="POST">
			<p>
				<h4>아이디</h4>
				<input type="text" id="name" name="name" autocomplete="off" />
			</p>
			<p>
				<h4>비밀번호</h4>
				<input type="password" id="pw" name="pw" autocomplete="off" />
			</p>
			<p><input type="submit" value="로그인" /></p>
		</form>
			<p><a href="#">회원가입</a></p>
	</body>
</html>
